<!DOCTYPE html>
<html>

<head>

</head>

<body><center>
    <form action="/lista_tarjetas">

        <h1>Insertar tarjeta</h1>

        <p>Ingrese los datos de su tarjeta en los siguientes campos</p>

        <div>
            Numero de tarjeta: <input type="text" name="cedula" />
            Numero de cédula: <input type="text" name="cedula" />
            Franquicia: <input type="text" name="cedula" />
            codigo de banco: <input type="text" name="cedula" />
            numero de cédula: <input type="text" name="cedula" />
            numero de cédula: <input type="text" name="cedula" />

            </select>
        </div>
        </div>
        <input type="submit" value="Buscar" />
    </form>
</center></body>

</html>