<!DOCTYPE html>
<html>

<head>

</head>

<body><center>

        <h1>Insertar tarjeta</h1>

        <p>Ingrese los datos de su tarjeta en los siguientes campos</p>

        <div>
            Numero de tarjeta: <input type="text" name="tarjeta" />
            Numero de cédula: <input type="text" name="cedula" />
            Franquicia: <input type="text" name="franquicia" />
            Codigo de banco: <input type="text" name="codigo_banco" />
            Fecha de vencimiento (AAAA/MM/DD): <input type="text" name="fecha_vencimiento" />
            Cupo: <input type="text" name="cupo" />
            Tasa de interés: <input type="text" name="tasa_interes" />
            Cuota de manejo: <input type="text" name="cuota_manejo" />
    

            </select>
        </div>
        </div>
        <input type="submit" value="Insertar" />
    </form>
</center></body>

</html>