<!DOCTYPE html>
<html>

<head>

</head>

<body><center>


    <!-- La etiqueta table se usa para crear tablas en HTML -->
    <table border="1">
        <h1>Tarjeta insertada exitosamente</h1>
        <!-- El elemento thead describe el area de encabezado en  la tabla -->
        <thead style="font-weight: bold;">
            <tr>
                <td>Número de tarjeta</td>
                <td>Cédula</td>
                <td>Franquicia</td>
                <td>Codigo del banco</td>
                <td>Fecha de vencimiento</td>
                <td>Cupo</td>
                <td>Tasa de interés</td>
                <td>Cuota de manejo</td>
            </tr>
        </thead>
        <tbody>

            
            <tr>
                <td>{{numero_tarjeta}}</td>
                <td>{{cedula}}</td>
                <td>{{franquicia}}</td>
                <td>{{codigo_banco}}</td>
                <td>{{fecha_vencimiento}}</td>
                <td>{{cupo}}</td>
                <td>{{tasa_interes}}</td>
                <td>{{cuota_manejo}}</td>
            </tr>
            
        </tbody>

    </table>
</center></body>

</html>